<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% include 'breadcrumb' %}
			<article id="{{page.handle}}" class="page">
				{% comment %}
				<h2 class="indiv-page-title">{{ page.title }}</h2>
				{% endcomment %}
				<section class="indiv-page-content">
					{{ page.content }}
				</section>
			</article>
		</div>
	</div>
</div>
